{
    box-sizing: border-box;
}

.unorderedListToDo {
    margin-left: 20px;
    list-style-type: none;
    padding: 0;
    width: 900px;
}

.unorderedListToDo li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #afeeee;
    font-size: 18px;
    transition: 0.2s;
    color: red;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.unorderedListToDo li:nth-child(odd) {
    background: #00ffff;
}

.image {
    width: 100px;
    height: 100px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    color: red;
}

.close:hover {
    background-color: red;
    color: white;
}

.done {
    position: absolute;
    right: 50px;
    top: 0;
    padding: 12px 16px 12px 16px;
    color: green;
}

.done:hover {
    background-color: green;
    color: white;
}

.listHeader {
    background-color: #008000;
    padding: 30px 40px;
    color: #ffa500;
    text-align: center;
    height: 170px;
}

.listHeader:after {
    content: "";
    display: table;
    clear: both;
}

.inputTask {
    position: absolute;
    margin: 0;
    top: 100px;
    left: 50px;
    border: none;
    border-radius: 0;
    width: 1278px;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.inputTaskDescription {
    position: absolute;
    margin: 0;
    top: 140px;
    left: 50px;
    border: none;
    border-radius: 0;
    width: 902px;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.inputTime {
    position: absolute;
    margin: 0;
    top: 140px;
    left: 975px;
    border: none;
    border-radius: 0;
    width: 353px;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.inputImage {
    position: absolute;
    margin: 0;
    top: 180px;
    left: 50px;
    border: none;
    border-radius: 0;
    width: 902px;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addButton {
    position: absolute;
    padding: 10px;
    width: 25%;
    height: 30px;
    top: 115px;
    left: 1350px;
    background: #0000ff;
    color: white;
    float: left;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 0;
}

.addButton:hover {
    background-color: #00008b;
}

.list1Header {
    margin-top: 30px;
    margin-left: 455px;
    color: red;
}

.list2Header {
    margin-top: -45px;
    margin-left: 1415px;
    color: #006400;
}

.unorderedListDone {
    position: absolute;
    top: 280px;
    left: 990px;
    list-style-type: none;
    padding: 0;
    width: 900px;
}

.unorderedListDone li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #adff2f;
    font-size: 18px;
    transition: 0.2s;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unorderedListDone li:nth-child(odd) {
    background: #32cd32;
}